

/*--------HEADER CON BS-----------------*/
/*--------Menu de navegación-----------------*/

/*----Items---*/
/*Separacion items menu*/
.separacion{
    gap: 20px;
}

.itemmenu{
    color: black;
    font-weight: 500;
 }
 
 /*Pseudocodigo Item*/

 .nav-link:hover{
    color: whitesmoke;
 
 }


